// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Custom styles
@import "./abstracts/variables";
@import "./abstracts/functions";

@import "./components/navbar";
@import "./components/form";

div, main, header, nav, footer{
    // border: 1px solid goldenrod;
}

body{
    font-family: "Karla", sans-serif;
    font-size: $html-font-size;
    background-color: $lightGrey; // visual purposes (artboard)
}

.main-wrapper{
    width: 550px;
    padding-bottom: 30px;
    background-color: white;
    margin: 30px auto;
}