// REM base
$html-font-size: 16px;

// colors
$black: #374151;
$mediumGrey: #6B7280; // form inputs
$lightGrey: #D1D5DB; // form input borders   
$darkPurple: #672280;
$lightPurple: #A626D3;
$purpleGradient: linear-gradient($darkPurple, $lightPurple)