.navbar{
    height: 65px;
    padding: remify(20px);
    background-image: $blueGradient; 

    .metadata{
        font-family: "Inter", sans-serif;
        font-size: remify(12px);
        color: white;
    }
}